Source: n2n
Section: net
Priority: extra
Maintainer: cristian paul peñaranda rojas <kristian.paul@gmail.com>
Uploaders: Rolf Leggewie <foss@rolf.leggewie.biz>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://www.ntop.org/products/n2n/
Vcs-Browser: https://github.com/leggewie/pkg-n2n
Vcs-Git: git@github.com:leggewie/pkg-n2n.git

Package: n2n
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 lsb-base (>= 3.0-6)
Description: Peer-to-Peer VPN network daemon
 n2n is an open source VPN application which utilizes 
 a Peer-to-peer architecture for network membership 
 and routing.
