Source: n2n
Section: net
Priority: extra
Maintainer: cristian paul peñaranda rojas <kristian.paul@gmail.com>
Uploaders: Rolf Leggewie <foss@rolf.leggewie.biz>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.2

Package: n2n
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Peer-to-Peer VPN network daemon
 n2n is an open source VPN application which utilizes 
 a Peer-to-peer architecture for network membership 
 and routing.
